<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fidoo.user">
    <!--
          The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
          Google Maps Android API v2, but you must specify either coarse or fine
          location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwicloRedesigned"
        tools:replace="android:allowBackup,android:name,android:theme,android:icon">

        <activity
            android:name=".dailyneed.ui.ServiceDailyNeedActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chatbot.ui.Chatbotui"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dailyneed.ui.CategoryProductListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".grocerynewui.activity.ViewAllProducts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".grocerynewui.activity.GroceryNewUiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".referral.activity.ReferralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SliderScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ordermodule.ui.ReviewOrderActivity"
            android:label="@string/title_activity_review_order"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TwicloRedesigned.NoActionBar" />
        <activity
            android:name=".ordermodule.ui.ReviewOrderSendPackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TwicloRedesigned.NoActionBar" />
        <activity
            android:name=".addressmodule.activity.ChangeAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sendpackages.activity.SendPackagesAddItem"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" /> <!-- <activity android:name=".newaddressui.MainAddressActivity" /> -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.  -->

        <activity
            android:name=".search.ui.SearchItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".grocery.activity.GroceryItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".sendpackages.activity.SendPackageOrderDetail"
            android:screenOrientation="portrait" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name=".addressmodule.activity.NewAddAddressActivityNew"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".addressmodule.activity.AddAddressActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".cartview.activity.CartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".store.activity.StoreListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ordermodule.ui.OrderRejectedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".store.activity.StoreFilterListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:launchMode="singleTask"
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".addressmodule.activity.SavedAddressesActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addressmodule.activity.SavedAddressesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addressmodule.activity.NewAddAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ordermodule.ui.TrackOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ordermodule.ui.ReviewItemsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ordermodule.ui.TrackSendPAckagesOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ordermodule.ui.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".newsearch.ui.NewSearchStoreListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".newsearch.ui.NewSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://fidoo.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ServicesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".restaurants.activity.NewDBStoreItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".restaurants.activity.StoreItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".newRestaurants.activity.NewStoreItemsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".sendpackages.activity.SendPackageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".viewprescription.ViewPrescriptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profile.ui.EditProfileActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- rzp_test_17ihcfTIqBGF9R       rzp_live_iceNLz5pb15jtP -->

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_iceNLz5pb15jtP" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/common_google_signin_btn_icon_dark" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".services.OrderBackgroundgService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>